<div class="dtext-formatter" data-editing="true" data-initialized="false">
  <div class="dtext-formatter-tabs">
    <a data-action="edit" role="tab">Write</a>
    <a data-action="show" role="tab">Preview</a>
  </div>
  <div class="dtext-formatter-buttons" role="toolbar">
    <%= tag.a(dtext_bold_icon, title: "Bold", data: { content: "[b]%selection%[/b]" }) %>
    <%= tag.a(dtext_italic_icon, title: "Italics", data: { content: "[i]%selection%[/i]" }) %>
    <%= tag.a(dtext_strikethrough_icon, title: "Strikethrough", data: { content: "[s]%selection%[/s]" }) %>
    <%= tag.a(dtext_underline_icon, title: "Underline", data: { content: "[u]%selection%[/u]" }) %>
    <span class="spacer"></span>
    <%= tag.a(dtext_heading_icon, title: "Header", data: { content: "h2.%selection%" }) %>
    <%= tag.a(dtext_spoiler_icon, title: "Spoiler", data: { content: "[spoiler]%selection%[/spoiler]" }) %>
    <%= tag.a(dtext_code_icon, title: "Code", data: { content: "[code]%selection%[/code]" }) %>
    <%= tag.a(dtext_quote_icon, title: "Quote", data: { content: "[quote]%selection%[/quote]" }) %>
  </div>
  <%= textarea %>
  <div class="dtext-formatter-preview dtext-container"></div>
  <div class="dtext-formatter-charcount" data-limit="50000" data-count="0"></div>
</div>
<span class="hint">All text is formatted using <%= link_to "DText", help_page_path(id: "dtext"), target: "_blank", rel: "noopener", tabindex: "-1" %></span>
